[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "CHANGE_ME"
[auth.google]
client_id = ""
client_secret = ""
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"
[app]
admin_users = []
